body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:1406px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:427px;
}
#u49 {
  position:absolute;
  left:23px;
  top:12px;
  width:840px;
  height:426px;
}
#u50 {
  position:absolute;
  left:5px;
  top:205px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:100px;
}
#u51 {
  position:absolute;
  left:56px;
  top:40px;
  width:446px;
  height:99px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:440px;
}
#u54 {
  position:absolute;
  left:877px;
  top:9px;
  width:439px;
  height:440px;
}
#u55 {
  position:absolute;
  left:2px;
  top:212px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:79px;
}
#u56 {
  position:absolute;
  left:1010px;
  top:301px;
  width:157px;
  height:78px;
  text-align:left;
}
#u57 {
  position:absolute;
  left:5px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u58 {
  position:absolute;
  left:43px;
  top:167px;
  width:180px;
  height:39px;
  font-size:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:317px;
  top:174px;
  width:300px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u61 {
  position:absolute;
  left:280px;
  top:177px;
  width:30px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:627px;
  top:175px;
  width:140px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u64 {
  position:absolute;
  left:232px;
  top:260px;
  width:544px;
  height:137px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
}
#u67 {
  position:absolute;
  left:60px;
  top:0px;
  width:53px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u69 {
  position:absolute;
  left:113px;
  top:0px;
  width:120px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:31px;
}
#u71 {
  position:absolute;
  left:233px;
  top:0px;
  width:306px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:302px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u73 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:34px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u75 {
  position:absolute;
  left:60px;
  top:30px;
  width:53px;
  height:34px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u77 {
  position:absolute;
  left:113px;
  top:30px;
  width:120px;
  height:34px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:35px;
}
#u79 {
  position:absolute;
  left:233px;
  top:30px;
  width:306px;
  height:34px;
  color:#0000FF;
  text-align:left;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u82 {
  position:absolute;
  left:0px;
  top:64px;
  width:60px;
  height:34px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u84 {
  position:absolute;
  left:60px;
  top:64px;
  width:53px;
  height:34px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u86 {
  position:absolute;
  left:113px;
  top:64px;
  width:120px;
  height:34px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:35px;
}
#u88 {
  position:absolute;
  left:233px;
  top:64px;
  width:306px;
  height:34px;
  color:#0000FF;
  text-align:left;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u91 {
  position:absolute;
  left:0px;
  top:98px;
  width:60px;
  height:34px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u93 {
  position:absolute;
  left:60px;
  top:98px;
  width:53px;
  height:34px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u95 {
  position:absolute;
  left:113px;
  top:98px;
  width:120px;
  height:34px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:35px;
}
#u97 {
  position:absolute;
  left:233px;
  top:98px;
  width:306px;
  height:34px;
  color:#0000FF;
  text-align:left;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u100 {
  position:absolute;
  left:240px;
  top:229px;
  width:73px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:56px;
  top:220px;
  width:107px;
  height:85px;
}
#u102_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u104 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u104_img.selected {
}
#u104.selected {
}
#u105 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u106 {
  position:absolute;
  left:22px;
  top:0px;
  width:80px;
  height:20px;
}
#u107 {
  position:absolute;
  left:3px;
  top:-1px;
  width:75px;
  white-space:nowrap;
}
#u103_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108 {
  position:absolute;
  left:20px;
  top:20px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#0000FF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u109 {
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u110 {
  position:absolute;
  left:3px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:20px;
  top:40px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#0000FF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u113 {
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u114 {
  position:absolute;
  left:3px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#0000FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u117 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u118 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:56px;
  top:314px;
  width:117px;
  height:65px;
}
#u120_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u122 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u122_img.selected {
}
#u122.selected {
}
#u123 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u124 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u125 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u121_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126 {
  position:absolute;
  left:20px;
  top:20px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#0000FF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u127 {
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u128 {
  position:absolute;
  left:3px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#0000FF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u131 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u132 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1391px;
  height:629px;
}
#u134 {
  position:absolute;
  left:38px;
  top:481px;
  width:1391px;
  height:629px;
}
#u135 {
  position:absolute;
  left:2px;
  top:306px;
  width:1387px;
  visibility:hidden;
  word-wrap:break-word;
}
