body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:737px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:91px;
}
#u0 {
  position:absolute;
  left:260px;
  top:97px;
  width:139px;
  height:90px;
  font-size:16px;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:92px;
}
#u2 {
  position:absolute;
  left:258px;
  top:205px;
  width:140px;
  height:91px;
  font-size:16px;
  text-align:left;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4 {
  position:absolute;
  left:25px;
  top:25px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4_ref {
  position:absolute;
  left:117px;
  top:75px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6 {
  position:absolute;
  left:85px;
  top:95px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6_ref {
  position:absolute;
  left:177px;
  top:145px;
  width:1px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8 {
  position:absolute;
  left:85px;
  top:203px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8_ref {
  position:absolute;
  left:177px;
  top:253px;
  width:1px;
  height:1px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10 {
  position:absolute;
  left:86px;
  top:331px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10_ref {
  position:absolute;
  left:178px;
  top:381px;
  width:1px;
  height:1px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u12 {
  position:absolute;
  left:87px;
  top:454px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12_ref {
  position:absolute;
  left:179px;
  top:504px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:75px;
  top:85px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u14_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:14px;
  height:8px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:75px;
  top:85px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:152px;
}
#u16_seg1 {
  position:absolute;
  left:-4px;
  top:144px;
  width:14px;
  height:8px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:75px;
  top:85px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:280px;
}
#u18_seg1 {
  position:absolute;
  left:-4px;
  top:272px;
  width:15px;
  height:8px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:136px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:75px;
  top:85px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:403px;
}
#u20_seg1 {
  position:absolute;
  left:-4px;
  top:395px;
  width:16px;
  height:8px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:198px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u23 {
  position:absolute;
  left:288px;
  top:15px;
  width:50px;
  height:80px;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u25 {
  position:absolute;
  left:454px;
  top:12px;
  width:50px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u27 {
  position:absolute;
  left:612px;
  top:9px;
  width:50px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:80px;
}
#u29 {
  position:absolute;
  left:421px;
  top:95px;
  width:155px;
  height:79px;
  font-size:16px;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:93px;
}
#u31 {
  position:absolute;
  left:584px;
  top:94px;
  width:161px;
  height:92px;
  font-size:16px;
  text-align:left;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:87px;
  height:25px;
}
#u33 {
  position:absolute;
  left:185px;
  top:124px;
  width:75px;
  height:5px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:101px;
}
#u35 {
  position:absolute;
  left:419px;
  top:204px;
  width:156px;
  height:100px;
  font-size:16px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:106px;
}
#u37 {
  position:absolute;
  left:587px;
  top:201px;
  width:159px;
  height:105px;
  font-size:16px;
  text-align:left;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
}
#u39 {
  position:absolute;
  left:259px;
  top:329px;
  width:139px;
  height:114px;
  font-size:16px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:101px;
}
#u41 {
  position:absolute;
  left:417px;
  top:327px;
  width:156px;
  height:100px;
  font-size:16px;
  text-align:left;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u43 {
  position:absolute;
  left:587px;
  top:330px;
  width:175px;
  height:114px;
  font-size:16px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:171px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:87px;
  height:25px;
}
#u45 {
  position:absolute;
  left:184px;
  top:225px;
  width:75px;
  height:5px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:87px;
  height:25px;
}
#u47 {
  position:absolute;
  left:186px;
  top:353px;
  width:75px;
  height:5px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
